[submodule "libs/unicorn"]
	path = libs/unicorn
	url = https://github.com/unicorn-engine/unicorn
[submodule "lisp/cl-unicorn"]
	path = lisp/cl-unicorn
	url = git@github.com:oblivia-simplex/cl-unicorn
[submodule "doc/slides/Ottawa/dark-beamer-theme"]
	path = doc/slides/Ottawa/dark-beamer-theme
	url = git@github.com:oblivia-simplex/dark-beamer-theme
